name: Security Scan with Trivy

on:
  workflow_dispatch:
  pull_request:

jobs:
  trivy_scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v4

      - name: Run Trivy vulnerability scan
        uses: aquasecurity/trivy-action@b6643a29fecd7f34b3597bc6acb0a98b03d33ff8 # 0.33.1
        with:
          scan-type: 'fs'
          scan-ref: '.'
          trivy-config: trivy.yml
          output: 'trivy-report.json'  # Generates the report in the root folder

      - name: Check if Trivy report exists
        run: |
          if [ -f trivy-report.json ]; then
            echo "Trivy report found."
          else
            echo "Trivy report not found!"
          fi

      - name: Upload Trivy report as an artifact
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: trivy-report
          path: trivy-report.json  # Path to the generated report